name: Build

on:
  push:
    tags: ['*']
    paths-ignore:
      - README.md
  pull_request:
    branches: ["main"]
    paths-ignore:
      - README.md

env:
  IMAGE_REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}
  IMAGE_PLATFORM: linux/amd64,linux/arm64

jobs:
  build-container:
    permissions:
      contents: write # for ncipollo/release-action to create release
      packages: write # for docker/build-push-action to store image to package
      pull-requests: write # for thollander/actions-comment-pull-request to comment on the PR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Prepare Meta Data
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893 # v5
        with:
          images: |
            ${{ env.IMAGE_REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=ref,event=tag

      - name: Log in to the Container registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          registry: ${{ env.IMAGE_REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3

      - name: Build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: "{{defaultContext}}:.devcontainer"
          push: false
          tags: ${{ env.IMAGE_NAME }}:test
          provenance: false
          load: true

      - name: Test
        run: |
          pwd
          cd test
          ./run_tests.sh "${{ env.IMAGE_NAME }}:test"
          cd ..

      - name: Multi-arch build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          context: "{{defaultContext}}:.devcontainer"
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          annotations: ${{ steps.meta.outputs.annotations }}
          platforms: ${{ env.IMAGE_PLATFORM }}
          provenance: false

      - name: Tag and create a GitHub release
        if: github.event_name != 'pull_request'
        uses: ncipollo/release-action@b7eabc95ff50cbeeedec83973935c8f306dfcd0b # v1
        with:
          tag: ${{ steps.meta.outputs.version }}
          commit: ${{ github.sha }}
          name: ${{ steps.meta.outputs.version }}
          skipIfReleaseExists: true
          allowUpdates: false
          generateReleaseNotes: true
          prerelease: ${{ github.event_name == 'pull_request' }}

      - name: Generate tool version details
        run: |
          # Tool versions
          python3 version_parser.py /tmp/test_result.txt > /tmp/vnote.txt
          # Image size
          echo >> /tmp/vnote.txt
          cat /tmp/image_size.txt >> /tmp/vnote.txt
          # Final content
          cat /tmp/vnote.txt

      - name: Update release with tool version
        if: github.event_name != 'pull_request'
        uses: hugoheml/update_release@210697dd5e2b1831b4f4a12eb405dc13cae8fe15 # v2
        env:
          GITHUB_TOKEN: ${{ github.token }}
          TAG_NAME: ${{ steps.meta.outputs.version }}
        with:
          is_append_body: true
          body_path: /tmp/vnote.txt
          
      - name: Update PR with tool version
        if: github.event_name == 'pull_request'
        uses: thollander/actions-comment-pull-request@24bffb9b452ba05a4f3f77933840a6a841d1b32b # v3
        with:
          file-path: /tmp/vnote.txt
          
